<!-- index.html -->

<div id="app">Später!</div>

<script>
  window.$docsify = {
    el: '#main',
  };
</script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="Description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
</head>

<body>
  <div id="app"></div>
  <title>🇩🇪</title>

  <script>
    window.$docsify = {
      name: '',
      repo: ''
    }
  </script>
  <!-- Docsify v4 -->
  <script src="//cdn.jsdelivr.net/npm/docsify@4"></script>


  <!-- Theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsify-themeable@0/dist/css/theme-simple-dark.css">

  <link rel="stylesheet" href="style.css">
  <!-- Custom theme styles -->
  <style>
    /* ... */
  </style>


</body>
